In [70]:
import pandas as pd
import numpy as np

In [71]:
data=pd.read_csv('/content/book.csv')
data

UnicodeDecodeError: ignored

In [72]:
import chardet
with open('/content/book.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.7187622176368375, 'encoding': 'ISO-8859-1', 'language': ''}

In [73]:
data=pd.read_csv('/content/book.csv', encoding="ISO-8859-1", index_col= False)
data

      User ID                                         Book Title  Book Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9993   162121       American Fried: Adventures of a Happy Eater             7
9994   162121                              Cannibal In Manhattan            9
9995   162121                    How to Flirt: A Practical Guide            7
9996   162121                                           Twilight            8
9997   162129                       Kids Say the Darndest Things            6

[9998 rows x 3 columns]

In [74]:
data.columns=['userid','book_title','book_rating']

In [75]:
data

      userid                                         book_title  book_rating
0     276726                                Classical Mythology            5
1     276729                                       Clara Callan            3
2     276729                               Decision in Normandy            6
3     276736  Flu: The Story of the Great Influenza Pandemic...            8
4     276737                             The Mummies of Urumchi            6
...      ...                                                ...          ...
9993  162121       American Fried: Adventures of a Happy Eater             7
9994  162121                              Cannibal In Manhattan            9
9995  162121                    How to Flirt: A Practical Guide            7
9996  162121                                           Twilight            8
9997  162129                       Kids Say the Darndest Things            6

[9998 rows x 3 columns]

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userid       10000 non-null  int64
 1   book_title   10000 non-null  object
 2   book_rating  10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

In [66]:
data.isna

<bound method DataFrame.isna of       userid                                         book_title  book_rating
0     276726                                Classical Mythology            5
1     276729                                       Clara Callan            3
2     276729                               Decision in Normandy            6
3     276736  Flu: The Story of the Great Influenza Pandemic...            8
4     276737                             The Mummies of Urumchi            6
...      ...                                                ...          ...
9995  162121       American Fried: Adventures of a Happy Eater             7
9996  162121                              Cannibal In Manhattan            9
9997  162121                    How to Flirt: A Practical Guide            7
9998  162121                                           Twilight            8
9999  162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]>

In [76]:
#number of unique users in the dataset
len(data.userid.unique())

2182

In [77]:
len(data.book_title.unique())

9659

In [78]:
data1 = data.pivot(index='userid',
                                 columns='book_title',
                                 values='book_rating')

ValueError: ignored